    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background: url(Cópia\ de\ Design\ site.png) no-repeat center center/cover;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {

      padding: 30px;
      border-radius: 15px;

      text-align: center;
      width: 450px;
      max-width: 95%;
    }

    h2 {
      margin-bottom: 10px;
      font-size: 30px;
      color: #ffffff;
    }

    input,
    select {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      border: none;
      border-radius: 8px;
      background: #f2f2f2;
      font-size: 16px;
    }

    .row {
      display: flex;
      gap: 10px;
      width: 105%;
    }

    .row input,
    .row select {
      flex: 1;
    }

    button {
      width: 60%;
      padding: 10px;
      background: #003366;
      color: rgb(255, 255, 255);
      font-size: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 10px;
      
    }

    button:hover {
      background: #004aaa;
    }

    @media (max-width: 480px) {
      .row {
        flex-direction: column;
      }
    }
    .alert {
         padding: 15px;
         margin-bottom: 20px;
         border: 1px solid transparent;
         border-radius: 4px;
         text-align: center;
         font-weight: bold;
         max-width: 500px;  /* Limita largura para caber no container */
         margin: 10px auto;  /* Centraliza */
       }
       .alert-success {
         color: #155724;
         background-color: #d4edda;
         border-color: #c3e6cb;
       }
       .alert-danger {
         color: #721c24;
         background-color: #f8d7da;
         border-color: #f5c6cb;
       }
       .alert a {
         color: #0d6efd;  /* Azul para links */
         text-decoration: underline;
       }
       .btn-voltar {
  background: #003366;
  position: relative;
  left: 40vw;
  top: 18ch;
}

.voltar {
  text-decoration: none;
  color: white;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  max-width: 500px;  /* Limita largura para caber no container */
  margin: 10px auto;  /* Centraliza */
  display: flex;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert a {
  color: #0d6efd;  /* Azul para links */
  text-decoration: underline;
}
.btn-voltar {
background: #003366;
position: relative;
left: 40vw;
top: 10ch;
}

.voltar {
text-decoration: none;
color: white;
}